/* .footer {
  font-size: 1rem;
  font-weight: 700;
  
    opacity: 0.8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: -5rem;
  margin-right: -5rem;
  margin-bottom: 1rem;
  width: 120%;
}

.footer ul {
  list-style: none;
  display: flex;
  column-gap: 2rem;
}

.footer div {
  display: flex;
  column-gap: 1rem;
}
.footer a {
  font-size: medium;
}
.footer .footer_btn a {
  background-color: transparent;
  color: white;
  padding: 2px 10px;
  border: #dfe0e1 2px solid;
  border-radius: 24px;
  font-weight: bold;
  font-size: 12px;
  line-height: normal;
} */

.footer{
  @apply grid grid-flow-col gap-5 items-center justify-between w-full max-w-[87.5rem] box-border p-[1.625rem] mt-44 mb-6 mx-auto text-xs text-2xl
}

.spotify{
  @apply flex 
}

.feat{
  @apply grid grid-flow-col gap-10
}

.soc{
  @apply grid grid-flow-col gap-6
}

.footer_btn{
  @apply grid grid-flow-col gap-5 justify-center items-center h-8
}

.footer_btn a{
  @apply relative inline-flex items-center justify-center py-2 px-8 border-2 border-[#dfe0e1] bg-transparent text-[#dfe0e1] leading-none rounded-3xl gap-4
}