.btn1 {
  @apply bg-yellow-200 w-[16rem] mt-6 text-base font-bold flex justify-center items-center gap-2 text-black text-center rounded-3xl py-2 max-md:w-full;
  
  
}
.btn1 svg{
  color: white;
  height: 30px;
  font-weight: 700;
}





