.all {
  margin: 30% 10%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  column-gap: 50px;
  font-family: CircularSp, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl,
    CircularSp-Grek, CircularSp-Deva, Helvetica, Arial, sans-serif;
  
}

@media screen and (width: 640px) {
  .all{
    display: flex;
    font-size: 20px;
    ;
  }
  
}

.note {
  font-size: 27px;
  font-weight: 700px;
}

img {
  width: 100%;
  height: 100%;
}
