.footer{
    font-size: 10px;
    font-weight: 700;
    opacity: 0.8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem;
    width: 90%;
}

.footer ul{
    list-style: none;
    display: flex;
    column-gap: 2rem;
}

.footer div{
    display: flex;
    column-gap: 1rem;
}
.footer a{
    font-size: medium;
}
.footer .footer_btn a{
background-color: transparent;
/* border: #fff 2px solid; */
/* padding: ; */

/* position: relative;
    display: inline-flex; */
    align-items: center;
    justify-content: center;
    padding: 12px 32px;
    border: #dfe0e1 2px solid;
    border-radius: 24px;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1;
} 