.introduction {
  margin: 2rem 10%;
  font-family: CircularSp, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl,
    CircularSp-Grek, CircularSp-Deva, Helvetica, Arial, sans-serif;
  display: grid;
  grid-template-columns: 3fr 2fr;
  column-gap: 50px;
}

.info {
  font-size: 27px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 700px;
}

.btn1 {
  font-size: 12px;
  font-weight: 700;
  padding: 10px 50px;
  background-color: yellow;

  text-decoration: none;
  border-radius: 20px;
}
.img_section {
}

img {
  width: 100%;
  height: 100%;
}

h1 {
  flex-wrap: wrap;
  font-size: 60px;
  font-weight: 700;
}
