.all {
    display: flex;
    column-gap: 1rem;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    line-height: 2rem;
  }

  .links {
    display: inline;
    font-size: 12px;
  }

  .note_section{
    width: 50%;
  }

  .note_section p{
    line-height: normal;
    font-weight: 400;
    padding-bottom: 10px;
  }

  .note_section .note {
    font-size: 1.5rem;
  }
  
  .img_section img{
    width: 100%;
    height: 100%;
  }
  
  @media screen and (max-width: 840px) {
    .all {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      /* color: blue; */
      /* background-color: gray;     */
    }
  }
  