.header {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  left: auto;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 2.5rem;
}
.header ul {
  display: flex;
  list-style: none;
}

.header h1 {
  font-size: 20px;
}
.header ul li {
  padding: 0 1rem;
}
.header ul li a {
  padding: 0 1rem;
  text-decoration: none;
  color: white;
}

a {
  color: white;
}
.header ul li a {
  font-size: small;
}
@media screen and (max-width: 870px) {
  .header {
    font-size: 12px;
  }
}
