.alls {
  @apply bg-red-500;
}

.in {
  @apply justify-center items-center max-w-[87.5rem] my-0 mx-auto px-44 text-white  pt-0 pb-[5.46875rem];
  display: flex;
}

.note_section{
  @apply self-center w-2/4 font-normal
}

.note_section .note{
  @apply  w-full font-normal w-full 
}
.note_section .note h3{
@apply text-2xl font-bold
}

.note_section .note h3{
  @apply text-xl
  }
/* 
  .alls{
    @apply bg-bgSecond bg-repeat-x flex justify-center items-center max-w-[87.5rem] my-0 mx-auto text-white  pt-0 pb-[5.46875rem]
  }

  .note_section{

  }

  .img_section{

  }
  
  /* @media screen and (max-width: 840px) {
    .all {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
          }
  } */

/* .all{
@apply grid;
  grid-template-columns: 40% calc(60% - 46px)
} */
