*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
}

.home {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  overflow-x: hidden;
  position: relative;
  margin: 2rem 10%;
  margin-top: 4rem;
  width: 100vw;
}
